<div class="dropdown">
    <a 
        class="btn btn-outline-secondary dropdown-toggle"
        href="#"
        (click)="onDropdownClick()">
        {{activeItem ? activeItem.label : label}}
    </a>

    <div *ngIf="isOpen" class="menu">
        <a 
            (click)="onItemClick(null)"
            class="dropdown-item"
            href="#">
            {{label}}
        </a>
        <a 
            *ngFor="let item of dropdownList"
            (click)="onItemClick(item)"
            class="dropdown-item"
            href="#">
            {{item.label}}
        </a>
    </div>
</div>